[submodule "src/mqtt/mqttv4"]
	path = src/mqtt/mqttv4
	url = https://github.com/roleoroleo/mqttv4
[submodule "src/onvif_simple_server/onvif_simple_server"]
	path = src/onvif_simple_server/onvif_simple_server
	url = http://github.com/roleoroleo/onvif_simple_server
